/*header section*/

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px black solid;
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  margin: 10px 40px;
  width: 50%
  border: 1px black solid;
}
.title {
  color: MediumAquamarine;
  margin: 15px;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  margin: 10px 40px;
  width: 50%
}
.tab {
  color: black;
  margin: 15px;
}

/*Main Content Container*/

.layout {
  display: flex;
  position: relative;
  top: 100px;
  margin: 0px;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240;
}
/*.layout,
.large,
.medium,
.small,
.htext,
.hpic {
  border: 1px black solid;
}*/
.htext {
  font-family: Georgia;
  font-size: 14px;
  color: black;
}
.mpic {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
.hpic.earth,
.hpic.research,
.hpic.cat {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  width: 48%
}
.hpic.cat {
  width: auto;
}
/*Large Column*/

.column.large {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.htext.stacks {
  width: 48%
}
.mpic {
  background-image: url("../images/main.png");
}
.hpic.earth {
  background-image: url("../images/fall.png");
}
.hpic.research {
  background-image: url("../images/camera.png");
}

/*Meduim Column*/

/*.column.meduim {
  display: flex;
}*/

.hpic.cat {
  background-image: url("../images/cat.png");
}

/*small Column*/

.column.small {
  display: flex
  flex-direction: column;
  justify-content: center;
}
#center {
  justify-content: center;
}
h1.news {
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
}
#bites {
  justify-content: center;
  border: 1px black solid;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  padding: 5px;
  margin: 0px;
}
