/*header section*/

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border: 1px black solid;
  width: 100%;
}
.logo {
  display: flex;
  align-items: center;
  margin: 10px 40px;
  width: 50%
  border: 1px black solid;
}
.title {
  color: MediumAquamarine;
  margin: 15px;
}
.navigation {
  display: flex;
  justify-content: flex-end;
  margin: 10px 40px;
  width: 50%
}
.tab {
  color: black;
  margin: 15px;
}

/*Main Content Container*/

.layout {
  display: flex;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240;
}
.layout,
.large,
.medium,
.small,
.htext,
.hpic {
  border: 1px black solid;
}
/*Large Column*/
/*Meduim Column*/
/*small Column*/
